# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.lo
*.la
*.so
# Auto generated
Makefile.in
Makefile
*.log
# Auto generated in Windows environments for NuGet package creation.
.vs
!/BuildNugetPackage.vcxproj  # This is a permanent project, not a generated one, so it should not be ignored.
!/nuget-sample/NugetSample.vcxproj  # This is a permanent project, not a generated one, so it should not be ignored.
*.vcxproj
*.vcxproj.filters
!/nuget-sample/NugetSample.sln  # This is a permanent solution, not a generated one, so it should not be ignored.
*.sln
CMakeFiles
CMakeCache.txt
Debug
Release
Win32
cmake_install.cmake
log4cpp.dir
lib
*.nupkg
